.cards__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cards__title {
  margin: 0;
  padding: var(--gap-space);
}

.cards__button {
  padding: 5px 15px;
  cursor: pointer;
}

.cards__button_type_select-all {
}

.cards__directions {
  margin: 0;
  padding: var(--gap-space);
}

.cards__list {
  margin: 0 auto;
  padding: 0;
  width: 98%;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}
