.cards__title {
  margin: 0;
  padding: var(--gap-space);
}

.cards__list {
  margin: 0 auto;
  padding: 0;
  width: 98%;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-space);
  background: var(--background-color);
}
